<section class="about-section">
    <div class="container">
        <h2 class="visually-hidden">About us</h2>
        <ul class="about-list">
            <li class="about-items">
                <div class="thumb">
                    <svg width="64" height="64" viewBox="0 0 64 64" fill="none">
                        <use href="./src/images/icons.svg#icon-antenna-1">
                        </use>
                    </svg>
                </div>
                <h3 class="header-three">Strategy</h3>
                <p class="text">Our goal is to identify the business
                    problem to walk away with the perfect and creative solution.
                </p>
            </li>
            <li class="about-items">
                <div class="thumb">
                    <svg width="64" height="64" viewBox="0 0 64 64" fill="none">
                        <use href="./src/images/icons.svg#icon-clock-1">
                        </use>
                    </svg>
                </div>
                <h3 class="header-three">Punctuality</h3>
                <p class="text">Bring the key message to the brand's audience for the best price within the
                    shortest possible
                    time.
                </p>
            </li>
            <li class="about-items">
                <div class="thumb">
                    <svg width="64" height="64" viewBox="0 0 64 64" fill="none">
                        <use href="./src/images/icons.svg#icon-diagram-1">
                        </use>
                    </svg>
                </div>
                <h3 class="header-three">Diligence</h3>
                <p class="text">Research and confirm brands with the strongest digital growth opportunities and
                    minimize risk.</p>
            </li>
            <li class="about-items">
                <div class="thumb">
                    <svg width="64" height="64" viewBox="0 0 64 64" fill="none">
                        <use href="./src/images/icons.svg#icon-astronaut-1">
                        </use>
                    </svg>
                </div>
                <h3 class="header-three">Technologies</h3>
                <p class="text">Design practice focused on digital experiences. We bring forth a deep
                    passion
                    for
                    problem-solving.
                </p>
            </li>
        </ul>
    </div>
</section>