<!-- Section About -->
<section class="about-section" id="about-section">
  <div class="container about-container">
    <div class="about-content">
      <div class="about-descr">
        <h2 class="about-header">My<span class="about-accent"> Interests </span></h2>
        <h3 class="header-description">
        </h3>
        <ul class="about-list">
          <li class="about-item">Athlete & Enthusiast: I actively engage in running – from training and participating in
            ultramarathons (42-124 km) and
            half-marathons (21 km) to combining it with drawing and leading running tours.</li>
          <li class="about-item">Organizer & Supporter: Beyond personal achievement, I'm passionate about organizing
            amateur sports events and providing
            support to fellow participants, aiming to foster a vibrant running community.</li>
          <li class="about-item">Creative & Tech-Savvy: My GPS track art hobby exemplifies creativity, strategic
            planning,
            and the practical application
            of technology, creating unique artistic routes through running.</li>
        </ul>
      </div>
      <div class="about-gallery">
        <div class="about-main-column">
          <div class="about-main-image">
            <picture class="about-main-pic">
              <source media="(min-width: 1280px)" srcset="/img/about/1/1-tab.jpg 1x, /img/about/1/1-tab@2x.jpg 2x">
              <source media="(min-width: 768px) and (max-width: 1279px)"
                srcset="/img/about/1/1-tab.jpg 1x, /img/about/1/1-tab@2x.jpg 2x">
              <source media="(min-width: 375px)"
                srcset="/img/about/1/1-big-mob.jpg 1x, /img/about/1/1-big-mob@2x.jpg 2x">
              <source media="(max-width: 374px)" srcset="/img/about/1/1-mob.jpg 1x, /img/about/1/1-mob@2x.jpg 2x">
              <img class="about-image" src="/img/about/1.jpg" alt="Running men & warrior">
            </picture>
          </div>
          <div class="about-secondary-images">
            <div class="about-image-six">
              <picture class="about-six-pic">
                <source media="(min-width: 1280px)" srcset="/img/about/6/6-tab.jpg 1x, /img/about/6/6-tab@2x.jpg 2x">
                <source media="(min-width: 768px) and (max-width: 1279px)"
                  srcset="/img/about/6/6-tab.jpg 1x, /img/about/6/6-tab@2x.jpg 2x">
                <source media="(min-width: 375px)"
                  srcset="/img/about/6/6-big-mob.jpg 1x, /img/about/6/6-big-mob@2x.jpg 2x">
                <source media="(max-width: 374px)" srcset="/img/about/6/6-mob.jpg 1x, /img/about/6/6-mob@2x.jpg 2x">
                <img class="about-image" src="/img/about/6.jpg" alt="Warrior-gps-art">
              </picture>
            </div>
            <div class="about-image-five">
              <picture class="about-five-pic">
                <source media="(min-width: 1280px)" srcset="/img/about/5/5-tab.jpg 1x, /img/about/5/5-tab@2x.jpg 2x">
                <source media="(min-width: 768px) and (max-width: 1279px)"
                  srcset="/img/about/5/5-tab.jpg 1x, /img/about/5/5-tab@2x.jpg 2x">
                <source media="(min-width: 375px)"
                  srcset="/img/about/5/5-big-mob.jpg 1x, /img/about/5/5-big-mob@2x.jpg 2x">
                <source media="(max-width: 374px)" srcset="/img/about/5/5-mob.jpg 1x, /img/about/5/5-mob@2x.jpg 2x">
                <img class="about-image" src="/img/about/5.jpg" alt="Bird-gps-art">
              </picture>
            </div>
          </div>
        </div>
        <div class="about-second-column">
          <div class="about-image-two">
            <picture class="about-two-pic">
              <source media="(min-width: 1280px)" srcset="/img/about/2/2-tab.jpg 1x, /img/about/2/2-tab@2x.jpg 2x">
              <source media="(min-width: 768px) and (max-width: 1279px)"
                srcset="/img/about/2/2-tab.jpg 1x, /img/about/2/2-tab@2x.jpg 2x">
              <source media="(min-width: 375px)"
                srcset="/img/about/2/2-big-mob.jpg 1x, /img/about/2/2-big-mob@2x.jpg 2x">
              <source media="(max-width: 374px)" srcset="/img/about/2/2-mob.jpg 1x, /img/about/2/2-mob@2x.jpg 2x">
              <img class="about-image" src="/img/about/2.jpg" alt="Herojam Slava">
            </picture>
          </div>
          <div class="about-image-three">
            <picture class="about-three-pic">
              <source media="(min-width: 1280px)" srcset="/img/about/3/3-tab.jpg 1x, /img/about/3/3-tab@2x.jpg 2x">
              <source media="(min-width: 768px) and (max-width: 1279px)"
                srcset="/img/about/3/3-tab.jpg 1x, /img/about/3/3-tab@2x.jpg 2x">
              <source media="(min-width: 375px)"
                srcset="/img/about/3/3-big-mob.jpg 1x, /img/about/3/3-big-mob@2x.jpg 2x">
              <source media="(max-width: 374px)" srcset="/img/about/3/3-mob.jpg 1x, /img/about/3/3-mob@2x.jpg 2x">
              <img class="about-image" src="/img/about/3.jpg" alt="Glory Ukraine">
            </picture>
          </div>
          <div class="about-image-four">
            <picture class="about-four-pic">
              <source media="(min-width: 1280px)" srcset="/img/about/4/4-tab.jpg 1x, /img/about/4/4-tab@2x.jpg 2x">
              <source media="(min-width: 768px) and (max-width: 1279px)"
                srcset="/img/about/4/4-tab.jpg 1x, /img/about/4/4-tab@2x.jpg 2x">
              <source media="(min-width: 375px)"
                srcset="/img/about/4/4-big-mob.jpg 1x, /img/about/4/4-big-mob@2x.jpg 2x">
              <source media="(max-width: 374px)" srcset="/img/about/4/4-mob.jpg 1x, /img/about/4/4-mob@2x.jpg 2x">
              <img class="about-image" src="/img/about/4.jpg" alt="Warrior on horse">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>