<section class="section-cv">
  <div class="container cv-container">
    <div class="cv-eng is-hidden">
      <h2 class="cv-header">CV Full Stack JS Developer (trainee/junior)</h2>
      <ul class="cv-list">
        <li class="cv-item">
          <h3 class="cv-item-header">Vadzim Simanau</h3>
          <div class="cv-contacts">
            <ul class="cv-contacts-list">
              <li>Tsentralne, Kyiv region</li>
              <li>eks220885@gmail.com</li>
              <li>+380958366739</li>
            </ul>
            <ul class="cv-social-list">
              <li>tg. @running_is_freedom</li>
              <li>www.linkedin.com/in/vadzimsimanau</li>
              <li>https://vadimeks.github.io/portfolio/</li>
            </ul>
          </div>
        </li>
        <li class="cv-item">
          <h3 class="cv-item-header">Profile</h3>
          <p><span class="cv-span">Aspiring Web Developer (Frontend, Full Stack)</span> with 5 months of practical
            experience in <span class="cv-span">HTML,
              CSS, JavaScript (ES6+), Git
              and Vite</span>, focused on creating adaptive and optimized interfaces. <span class="cv-span">Node.js,
              React, Vue, and Angular (at GOIT)
              are next in
              line for study</span>, with the goal of expanding competencies to a complete Full Stack. I have <span
              class="cv-span">experience in team
              leadership</span>
            and setting up workflows, ensuring effective and responsible work within a team. <span
              class="cv-span">Interested in solving complex
              problems
              and building full-featured web products.</span></p>
        </li>
        <li class="cv-item">
          <h3 class="cv-item-header">Work Experience
          </h3>
          <p>Military Service International Legion, Armed Forces of Ukraine, Infantry since May 2023 - Present</p>
          <ul class="cv-experience-list">
            <li class="cv-experience-item">
              <span class="cv-span">Effectively led a group of 12-15 individuals (as Deputy Group/Platoon
                Commander)</span> – ensured the completion of combat and
              non-combat missions by coordinating actions and efficiently allocating responsibilities, considering each
              participant's
              individual abilities.
            </li>
            <li class="cv-experience-item">
              <span class="cv-span">Demonstrated a high level of adaptability and flexibility</span> – successfully
              executed tasks in constantly changing and
              high-stress environments, including sudden plan alterations or mission cancellations, enabling rapid
              re-adaptation and
              maintaining focus on objectives.
            </li>
            <li class="cv-experience-item">
              <span class="cv-span">Made swift decisions in critical situations</span> – took initiative in unforeseen
              circumstances, providing timely and
              effective commands to achieve set goals.
            </li>
            <li class="cv-experience-item">
              <span class="cv-span">Honed operational planning and analytical skills</span> – participated in the
              development and adjustment of combat operations,
              including the use of drones, topography, and specialized software (e.g., Kropyva, Delta), as well as radio
              communications, while accounting for potential risks and unforeseen circumstances.
            </li>
          </ul>
        </li>
        <li class="cv-item">
          <h3 class="cv-item-header">Education</h3>
          <ul class="cv-edu-list">
            <li class="cv-edu-item">
              <h4>Full Stack JavaScript Developer Course GOIT, Online Learning since December 2024 – Present</h4>
              <ul class="cv-relevantedu-list">
                <li class="cv-relevantedu-item">
                  Completed modules: HTML/CSS, JavaScript (ES6+)
                </li>
                <li class="cv-relevantedu-item">
                  Key skills developed: Git, Responsive Design, Mobile-First approach, Cross-browser compatibility,
                  Project
                  Building/Bundling (Vite), Code Review, Teamwork.
                </li>
                <li class="cv-relevantedu-item">Focus on creating adaptive web interfaces, optimization, and teamwork
                </li>
                <li class="cv-relevantedu-item">Upcoming: Node.js, React, Vue, Angular
                </li>
              </ul>
            </li>
            <li class="cv-edu-item">
              <h4>Manager-Economist Technical University Graduated 2007</h4>
            </li>
          </ul>
        </li>
        <li class="cv-item">
          <h3 class="cv-item-header">Skills</h3>
          <div class="cv-skills">
            <div class="cv-hardskills">
              <h4>Hard Skills (Technical Skills)</h4>
              <ul class="cv-hardskills-list">
                <li class="cv-hardskills-item">HTML5, CSS3 (including Responsive Design, Flexbox)</li>
                <li class="cv-hardskills-item">JavaScript (ES6+)</li>
                <li class="cv-hardskills-item">Git / GitHub (version control, teamwork)</li>
                <li class="cv-hardskills-item">Vite (project bundling, configuration)</li>
                <li class="cv-hardskills-item">Web Development Fundamentals</li>
                <li class="cv-hardskills-item">Google Chrome DevTools</li>
                <li class="cv-hardskills-item">Cross-browser compatibility</li>
                <li class="cv-hardskills-item">AI Fundamentals</li>
                <li class="cv-hardskills-item">Currently Learning: Node.js, React, Vue, Angular</li>
              </ul>
            </div>
            <div class="cv-softskills">
              <h4>Soft Skills (Personal & Interpersonal Skills)</h4>
              <ul class="cv-softskills-list">
                <li class="cv-softskills-item">Leadership</li>
                <li class="cv-softskills-item">Adaptability</li>
                <li class="cv-softskills-item">Project Management / Organizational Skills</li>
                <li class="cv-softskills-item">Problem-solving</li>
                <li class="cv-softskills-item">Discipline & Self-organization</li>
                <li class="cv-softskills-item">Planning & Strategic Thinking</li>
                <li class="cv-softskills-item">Communication Skills</li>
                <li class="cv-softskills-item">Critical Thinking</li>
                <li class="cv-softskills-item">Rapid Learning / Coachability</li>
                <li class="cv-softskills-item">Stress Resistance</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="cv-item">
          <h3 class="cv-item-header">Other Professional Experience / Additional Skills</h3>
          <ul class="cv-additional-list">
            <li class="cv-additional-item">
              <h4>Languages:</h4>
              <ul class="cv-languages-list">
                <li class="cv-languages-item"><span class="cv-span">Ukrainian, Belarusian:</span> almost fluent</li>
                <li class="cv-languages-item"><span class="cv-span">English:</span> Pre-Intermediate -can speak, write,
                  understand, but not clear and
                  with mistakes</li>
                <li class="cv-languages-item"><span class="cv-span">Polish:</span> base(elementary) - finish A1 level
                  and
                  start A2, base communication,
                  good understanding</li>
              </ul>
            </li>
            <li class="cv-additional-item">
              <h4>Event Management & Organization:</h4>
              <p>Proven experience
                in successfully organizing
                mass sporting events (races with up to
                1000 participants), demonstrating strong project management, logistical, communication, and operational
                problem-solving
                skills.</p>
            </li>
            <li class="cv-additional-item">
              <h4>Technical Aptitude:</h4>
              <p>Practical experience working
                with various construction
                equipment and machinery, along with managing
                sales of heating and plumbing equipment, highlighting the ability to quickly grasp technical details and
                engage with
                clients.</p>
            </li>
            <li class="cv-additional-item">
              <h4>Diverse Work Background:</h4>
              <p>Experience in
                construction and warehouse environments, showcasing strong work ethic, physical
                capability, and effective adaptation to various work settings.</p>
            </li>
          </ul>
        </li>
        <li class="cv-item">
          <h3 class="cv-item-header"></h3>
        </li>
      </ul>
    </div>
    <div class="cv-ua ">
      <h2 class="cv-header">CV Full Stack JS Developer (trainee/junior)</h2>
      <ul class="cv-list">
        <li class="cv-item">
          <h3 class="cv-item-header">Vadzim Simanau</h3>
          <div class="cv-contacts">
            <ul class="cv-contacts-list">
              <li>Tsentralne, Kyiv region</li>
              <li>eks220885@gmail.com</li>
              <li>+380958366739</li>
            </ul>
            <ul class="cv-social-list">
              <li>tg. @running_is_freedom</li>
              <li>www.linkedin.com/in/vadzimsimanau</li>
              <li>https://vadimeks.github.io/portfolio/</li>
            </ul>
          </div>
        </li>
        <li class="cv-item">
          <h3 class="cv-item-header">Профіль</h3>
          <p><span class="cv-span">Веб-розробник-початківець (Frontend, Full Stack)</span> з 5 місяцями практичного
            досвіду в <span class="cv-span">HTML,
              CSS, JavaScript (ES6+), Git
              та Vite</span>, орієнтований на створення адаптивних та оптимізованих інтерфейсів. Попереду вивчення <span
              class="cv-span">Node.js,
              React, Vue, and Angular (at GOIT)
            </span>. <span class="cv-span">Маю досвід управління командою та налаштування робочих процесів</span>, що
            забезпечує ефективну та відповідальну роботу в
            колективі.
            <span class="cv-span">Зацікавлений у вирішенні складних завдань та побудові повнофункціональних
              веб-продуктів.</span>
          </p>
        </li>
        <li class="cv-item">
          <h3 class="cv-item-header">Досвід</h3>
          <h4>Військова служба Інтернаціональний Легіон, Збройні Сили України, Піхота Травень 2023 р. – Теперішній час
          </h4>
          <ul class="cv-experience-list">
            <li class="cv-experience-item">
              <span class="cv-span">Ефективно керував групою з 12-15 осіб (як заступник командира групи/взводу)</span> –
              забезпечував виконання бойових та небойових завдань шляхом координації дій та ефективного розподілу
              обов'язків,
              враховуючи індивідуальні здібності кожного учасника.
            </li>
            <li class="cv-experience-item">
              <span class="cv-span">Демонстрував високий рівень адаптивності та гнучкості</span> – успішно виконував
              завдання у постійно змінних та стресових умовах, у тому числі при раптових змінах планів або
              скасуванні завдань, що дозволяло швидко перебудовуватися та зберігати фокус на цілях.
            </li>
            <li class="cv-experience-item">
              <span class="cv-span">Made swift decisions in critical situations</span> – took initiative in unforeseen
              circumstances, providing timely and
              effective commands to achieve set goals.
            </li>
            <li class="cv-experience-item">
              <span class="cv-span">Honed operational planning and analytical skills</span> – participated in the
              development and adjustment of combat operations,
              including the use of drones, topography, and specialized software (e.g., Kropyva, Delta), as well as radio
              communications, while accounting for potential risks and unforeseen circumstances.
            </li>
          </ul>
        </li>
        <li class="cv-item">
          <h3 class="cv-item-header">Education</h3>
          <ul class="cv-edu-list">
            <li class="cv-edu-item">
              <h4>Full Stack JavaScript Developer Course GOIT, Online Learning since December 2024 – Present</h4>
              <ul class="cv-relevantedu-list">
                <li class="cv-relevantedu-item">
                  Completed modules: HTML/CSS, JavaScript (ES6+)
                </li>
                <li class="cv-relevantedu-item">
                  Key skills developed: Git, Responsive Design, Mobile-First approach, Cross-browser compatibility,
                  Project
                  Building/Bundling (Vite), Code Review, Teamwork.
                </li>
                <li class="cv-relevantedu-item">Focus on creating adaptive web interfaces, optimization, and teamwork
                </li>
                <li class="cv-relevantedu-item">Upcoming: Node.js, React, Vue, Angular
                </li>
              </ul>
            </li>
            <li class="cv-edu-item">
              <h4>Manager-Economist Technical University Graduated 2007</h4>
            </li>
          </ul>
        </li>
        <li class="cv-item">
          <h3 class="cv-item-header">Skills</h3>
          <div class="cv-skills">
            <div class="cv-hardskills">
              <h4>Hard Skills (Technical Skills)</h4>
              <ul class="cv-hardskills-list">
                <li class="cv-hardskills-item">HTML5, CSS3 (including Responsive Design, Flexbox)</li>
                <li class="cv-hardskills-item">JavaScript (ES6+)</li>
                <li class="cv-hardskills-item">Git / GitHub (version control, teamwork)</li>
                <li class="cv-hardskills-item">Vite (project bundling, configuration)</li>
                <li class="cv-hardskills-item">Web Development Fundamentals</li>
                <li class="cv-hardskills-item">Google Chrome DevTools</li>
                <li class="cv-hardskills-item">Cross-browser compatibility</li>
                <li class="cv-hardskills-item">AI Fundamentals</li>
                <li class="cv-hardskills-item">Currently Learning: Node.js, React, Vue, Angular</li>
              </ul>
            </div>
            <div class="cv-softskills">
              <h4>Soft Skills (Personal & Interpersonal Skills)</h4>
              <ul class="cv-softskills-list">
                <li class="cv-softskills-item">Leadership</li>
                <li class="cv-softskills-item">Adaptability</li>
                <li class="cv-softskills-item">Project Management / Organizational Skills</li>
                <li class="cv-softskills-item">Problem-solving</li>
                <li class="cv-softskills-item">Discipline & Self-organization</li>
                <li class="cv-softskills-item">Planning & Strategic Thinking</li>
                <li class="cv-softskills-item">Communication Skills</li>
                <li class="cv-softskills-item">Critical Thinking</li>
                <li class="cv-softskills-item">Rapid Learning / Coachability</li>
                <li class="cv-softskills-item">Stress Resistance</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="cv-item">
          <h3 class="cv-item-header">Other Professional Experience / Additional Skills</h3>
          <ul class="cv-additional-list">
            <li class="cv-additional-item">
              <h4>Languages:</h4>
              <ul class="cv-languages-list">
                <li class="cv-languages-item"><span class="cv-span">Ukrainian, Belarusian:</span> almost fluent</li>
                <li class="cv-languages-item"><span class="cv-span">English:</span> Pre-Intermediate -can speak, write,
                  understand, but not clear and
                  with mistakes</li>
                <li class="cv-languages-item"><span class="cv-span">Polish:</span> base(elementary) - finish A1 level
                  and
                  start A2, base communication,
                  good understanding</li>
              </ul>
            </li>
            <li class="cv-additional-item">
              <h4>Event Management & Organization:</h4>
              <p>Proven experience
                in successfully organizing
                mass sporting events (races with up to
                1000 participants), demonstrating strong project management, logistical, communication, and operational
                problem-solving
                skills.</p>
            </li>
            <li class="cv-additional-item">
              <h4>Technical Aptitude:</h4>
              <p>Practical experience working
                with various construction
                equipment and machinery, along with managing
                sales of heating and plumbing equipment, highlighting the ability to quickly grasp technical details and
                engage with
                clients.</p>
            </li>
            <li class="cv-additional-item">
              <h4>Diverse Work Background:</h4>
              <p>Experience in
                construction and warehouse environments, showcasing strong work ethic, physical
                capability, and effective adaptation to various work settings.</p>
            </li>
          </ul>
        </li>
        <li class="cv-item">
          <h3 class="cv-item-header"></h3>
        </li>
      </ul>
    </div>
  </div>
</section>