<section class="section-cv">
  <div class="container cv-container">
    <div class="language-switcher">
      <button class="lang-button active" data-lang="eng">English</button>
      <button class="lang-button" data-lang="ua">Українська</button>
    </div>

    <div class="cv-eng" data-lang="eng">
      <h2 class="cv-header">CV Full Stack JS Developer (trainee/junior)</h2>
      <ul class="cv-list">
        <li class="cv-item">
          <h3 class="cv-item-header">Vadzim Simanau</h3>
          <div class="cv-contacts">
            <ul class="cv-contacts-list">
              <li>Tsentralne, Kyiv region</li>
              <li>eks220885@gmail.com</li>
              <li>+380958366739</li>
            </ul>
            <ul class="cv-social-list">
              <li>tg. @running_is_freedom</li>
              <li>www.linkedin.com/in/vadzimsimanau</li>
              <li>https://vadimeks.github.io/portfolio/</li>
            </ul>
          </div>
        </li>
        <li class="cv-item">
          <h3 class="cv-item-header">Profile</h3>
          <p><span class="cv-span">Aspiring Web Developer (Frontend, Full Stack)</span> with 5 months of practical
            experience in <span class="cv-span">HTML,
              CSS, JavaScript (ES6+), Git
              and Vite</span>, focused on creating adaptive and optimized interfaces. <span class="cv-span">Node.js,
              React, Vue, and Angular (at GOIT)
              are next in
              line for study</span>, with the goal of expanding competencies to a complete Full Stack. I have <span
              class="cv-span">experience in team
              leadership</span>
            and setting up workflows, ensuring effective and responsible work within a team. <span
              class="cv-span">Interested in solving complex
              problems
              and building full-featured web products.</span></p>
        </li>
        <li class="cv-item">
          <h3 class="cv-item-header">Work Experience
          </h3>
          <p>Military Service International Legion, Armed Forces of Ukraine, Infantry since May 2023 - Present</p>
          <ul class="cv-experience-list">
            <li class="cv-experience-item">
              <span class="cv-span">Effectively led a group of 12-15 individuals (as Deputy Group/Platoon
                Commander)</span> – ensured the completion of combat and
              non-combat missions by coordinating actions and efficiently allocating responsibilities, considering each
              participant's
              individual abilities.
            </li>
            <li class="cv-experience-item">
              <span class="cv-span">Demonstrated a high level of adaptability and flexibility</span> – successfully
              executed tasks in constantly changing and
              high-stress environments, including sudden plan alterations or mission cancellations, enabling rapid
              re-adaptation and
              maintaining focus on objectives.
            </li>
            <li class="cv-experience-item">
              <span class="cv-span">Made swift decisions in critical situations</span> – took initiative in unforeseen
              circumstances, providing timely and
              effective commands to achieve set goals.
            </li>
            <li class="cv-experience-item">
              <span class="cv-span">Honed operational planning and analytical skills</span> – participated in the
              development and adjustment of combat operations,
              including the use of drones, topography, and specialized software (e.g., Kropyva, Delta), as well as radio
              communications, while accounting for potential risks and unforeseen circumstances.
            </li>
          </ul>
        </li>
        <li class="cv-item">
          <h3 class="cv-item-header">Education</h3>
          <ul class="cv-edu-list">
            <li class="cv-edu-item">
              <h4>Full Stack JavaScript Developer Course GOIT, Online Learning since December 2024 – Present</h4>
              <ul class="cv-relevantedu-list">
                <li class="cv-relevantedu-item">
                  Completed modules: HTML/CSS, JavaScript (ES6+)
                </li>
                <li class="cv-relevantedu-item">
                  Key skills developed: Git, Responsive Design, Mobile-First approach, Cross-browser compatibility,
                  Project
                  Building/Bundling (Vite), Code Review, Teamwork.
                </li>
                <li class="cv-relevantedu-item">Focus on creating adaptive web interfaces, optimization, and teamwork
                </li>
                <li class="cv-relevantedu-item">Upcoming: Node.js, React, Vue, Angular
                </li>
              </ul>
            </li>
            <li class="cv-edu-item">
              <h4>Manager-Economist Technical University Graduated 2007</h4>
            </li>
          </ul>
        </li>
        <li class="cv-item">
          <h3 class="cv-item-header">Skills</h3>
          <div class="cv-skills">
            <div class="cv-hardskills">
              <h4>Hard Skills (Technical Skills)</h4>
              <ul class="cv-hardskills-list">
                <li class="cv-hardskills-item">HTML5, CSS3 (including Responsive Design, Flexbox)</li>
                <li class="cv-hardskills-item">JavaScript (ES6+)</li>
                <li class="cv-hardskills-item">Git / GitHub (version control, teamwork)</li>
                <li class="cv-hardskills-item">Vite (project bundling, configuration)</li>
                <li class="cv-hardskills-item">Web Development Fundamentals</li>
                <li class="cv-hardskills-item">Google Chrome DevTools</li>
                <li class="cv-hardskills-item">Cross-browser compatibility</li>
                <li class="cv-hardskills-item">AI Fundamentals</li>
                <li class="cv-hardskills-item">Currently Learning: Node.js, React, Vue, Angular</li>
              </ul>
            </div>
            <div class="cv-softskills">
              <h4>Soft Skills (Personal & Interpersonal Skills)</h4>
              <ul class="cv-softskills-list">
                <li class="cv-softskills-item">Leadership</li>
                <li class="cv-softskills-item">Adaptability</li>
                <li class="cv-softskills-item">Project Management / Organizational Skills</li>
                <li class="cv-softskills-item">Problem-solving</li>
                <li class="cv-softskills-item">Discipline & Self-organization</li>
                <li class="cv-softskills-item">Planning & Strategic Thinking</li>
                <li class="cv-softskills-item">Communication Skills</li>
                <li class="cv-softskills-item">Critical Thinking</li>
                <li class="cv-softskills-item">Rapid Learning / Coachability</li>
                <li class="cv-softskills-item">Stress Resistance</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="cv-item">
          <h3 class="cv-item-header">Other Professional Experience / Additional Skills</h3>
          <ul class="cv-additional-list">
            <li class="cv-additional-item">
              <h4>Languages:</h4>
              <ul class="cv-languages-list">
                <li class="cv-languages-item"><span class="cv-span">Ukrainian, Belarusian:</span> almost fluent</li>
                <li class="cv-languages-item"><span class="cv-span">English:</span> Pre-Intermediate -can speak, write,
                  understand, but not clear and
                  with mistakes</li>
                <li class="cv-languages-item"><span class="cv-span">Polish:</span> base(elementary) - finish A1 level
                  and
                  start A2, base communication,
                  good understanding</li>
              </ul>
            </li>
            <li class="cv-additional-item">
              <h4>Event Management & Organization:</h4>
              <p>Proven experience
                in successfully organizing
                mass sporting events (races with up to
                1000 participants), demonstrating strong project management, logistical, communication, and operational
                problem-solving
                skills.</p>
            </li>
            <li class="cv-additional-item">
              <h4>Technical & Commercial Aptitude:</h4>
              <p>Practical experience working with various construction and manufacturing equipment (including <span
                  class="cv-span">CNC
                  machines</span>), along with
                managing sales of heating and plumbing equipment. This highlights the ability to <span
                  class="cv-span">quickly grasp technical
                  details</span>,
                understand commercial processes, and <span class="cv-span">engage with clients</span> and business
                partners (including in <span class="cv-span">foreign
                  economic activity</span>).</p>
            </li>
            <li class="cv-additional-item">
              <h4>Service Industry Experience & Adaptability:</h4>
              <p>Experience as an administrator in a billiard club, as well as work in construction and warehouse
                environments,
                showcasing <span class="cv-span">customer service skills</span>, strong work ethic, and effective
                adaptation to various work settings
              </p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="cv-ua is-hidden" data-lang="ua">
      <h2 class="cv-header">CV Full Stack JS Developer (trainee/junior)</h2>
      <ul class="cv-list">
        <li class="cv-item">
          <h3 class="cv-item-header">Vadzim Simanau</h3>
          <div class="cv-contacts">
            <ul class="cv-contacts-list">
              <li>Tsentralne, Kyiv region</li>
              <li>eks220885@gmail.com</li>
              <li>+380958366739</li>
            </ul>
            <ul class="cv-social-list">
              <li>tg. @running_is_freedom</li>
              <li>www.linkedin.com/in/vadzimsimanau</li>
              <li>https://vadimeks.github.io/portfolio/</li>
            </ul>
          </div>
        </li>
        <li class="cv-item">
          <h3 class="cv-item-header">Профіль</h3>
          <p><span class="cv-span">Веб-розробник-початківець (Frontend, Full Stack)</span> з 5 місяцями практичного
            досвіду в <span class="cv-span">HTML,
              CSS, JavaScript (ES6+), Git
              та Vite</span>, орієнтований на створення адаптивних та оптимізованих інтерфейсів. Попереду вивчення <span
              class="cv-span">Node.js,
              React, Vue, and Angular (at GOIT)
            </span>. <span class="cv-span">Маю досвід управління командою та налаштування робочих процесів</span>, що
            забезпечує ефективну та відповідальну роботу в
            колективі.
            <span class="cv-span">Зацікавлений у вирішенні складних завдань та побудові повнофункціональних
              веб-продуктів.</span>
          </p>
        </li>
        <li class="cv-item">
          <h3 class="cv-item-header">Досвід</h3>
          <h4>Військова служба Інтернаціональний Легіон, Збройні Сили України, Піхота Травень 2023 р. – Теперішній час
          </h4>
          <ul class="cv-experience-list">
            <li class="cv-experience-item">
              <span class="cv-span">Ефективно керував групою з 12-15 осіб (як заступник командира групи/взводу)</span> –
              забезпечував виконання бойових та небойових завдань шляхом координації дій та ефективного розподілу
              обов'язків,
              враховуючи індивідуальні здібності кожного учасника.
            </li>
            <li class="cv-experience-item">
              <span class="cv-span">Демонстрував високий рівень адаптивності та гнучкості</span> – успішно виконував
              завдання у постійно змінних та стресових умовах, у тому числі при раптових змінах планів або
              скасуванні завдань, що дозволяло швидко перебудовуватися та зберігати фокус на цілях.
            </li>
            <li class="cv-experience-item">
              <span class="cv-span">Приймав швидкі рішення у критичних ситуаціях</span> – брав на себе лідерство у
              непередбачених обставинах, забезпечуючи своєчасні та ефективні команди для досягнення
              поставлених цілей.
            </li>
            <li class="cv-experience-item">
              <span class="cv-span">Удосконалив навички оперативного планування та аналітики</span> – брав участь у
              розробці та коригуванні бойових операцій, у тому числі з використанням дронів, топографії та
              спеціалізованого ПЗ (наприклад, Кропива, Дельта), а також радіозв'язку, враховуючи потенційні ризики та
              непередбачені
              обставини.
            </li>
          </ul>
        </li>
        <li class="cv-item">
          <h3 class="cv-item-header">Освіта</h3>
          <ul class="cv-edu-list">
            <li class="cv-edu-item">
              <h4>Курс Full Stack JavaScript Developer GOIT, онлайн-навчання Грудень 2023 р. – Теперішній час</h4>
              <ul class="cv-relevantedu-list">
                <li class="cv-relevantedu-item">
                  Пройдені модулі: HTML/CSS, JavaScript (ES6+).</li>
                <li class="cv-relevantedu-item">
                  Освоєні навички: Git, Адаптивний дизайн, Mobile First, Кросбраузерна сумісність, Збірка/бандлінг
                  проектів (Vite), Code
                  Review, Командна робота.</li>
                <li class="cv-relevantedu-item">Фокус на створенні адаптивних веб-інтерфейсів, оптимізації та командній
                  роботі.</li>
                <li class="cv-relevantedu-item">Попереду: Node.js, React, Vue, Angular
                </li>
              </ul>
            </li>
            <li class="cv-edu-item">
              <h4>Менеджер-економіст Технічний університет Закінчив у 2007 р.</h4>
            </li>
          </ul>
        </li>
        <li class="cv-item">
          <h3 class="cv-item-header">Навички</h3>
          <div class="cv-skills">
            <div class="cv-hardskills">
              <h4>Hard Skills (Технічні навички)</h4>
              <ul class="cv-hardskills-list">
                <li class="cv-hardskills-item">HTML5, CSS3 (включаючи адаптивний/адаптований дизайн, Flexbox, Grid)</li>
                <li class="cv-hardskills-item">JavaScript (ES6+)</li>
                <li class="cv-hardskills-item">Git / GitHub (контроль версій, командна робота)</li>
                <li class="cv-hardskills-item">Vite (збірка проектів, конфігурація)</li>
                <li class="cv-hardskills-item">Web Development Fundamentals</li>
                <li class="cv-hardskills-item">Google Chrome DevTools</li>
                <li class="cv-hardskills-item">Кросбраузерна сумісність</li>
                <li class="cv-hardskills-item">Штучний інтелект (Основи)</li>
                <li class="cv-hardskills-item">В процесі вивчення: Node.js, React, Vue, Angular</li>
              </ul>
            </div>
            <div class="cv-softskills">
              <h4>Soft Skills (Особистісні та міжособистісні навички)</h4>
              <ul class="cv-softskills-list">
                <li class="cv-softskills-item">Лідерство (Leadership)</li>
                <li class="cv-softskills-item">Адаптивність (Adaptability)</li>
                <li class="cv-softskills-item">Управління проектами / Організаційні навички (Project Management /
                  Organizational Skills)</li>
                <li class="cv-softskills-item">Вирішення проблем (Problem-solving)</li>
                <li class="cv-softskills-item">Дисципліна та самоорганізація (Discipline & Self-organization)</li>
                <li class="cv-softskills-item">Планування та стратегічне мислення (Planning & Strategic Thinking)</li>
                <li class="cv-softskills-item">Комунікативні навички (Communication Skills)</li>
                <li class="cv-softskills-item">Критичне мислення (Critical Thinking)</li>
                <li class="cv-softskills-item">Швидке навчання / Здатність до навчання (Rapid Learning / Coachability)
                </li>
                <li class="cv-softskills-item">Стресостійкість (Stress Resistance)</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="cv-item">
          <h3 class="cv-item-header">Інший професійний досвід / Додаткові навички</h3>
          <ul class="cv-additional-list">
            <li class="cv-additional-item">
              <h4>Мови (Languages)</h4>
              <ul class="cv-languages-list">
                <li class="cv-languages-item"><span class="cv-span">Українська, Білоруська:</span> майже вільно (Fluent)
                </li>
                <li class="cv-languages-item"><span class="cv-span">Англійська:</span> Pre-Intermediate – можу
                  розмовляти, писати, розуміти, але не чітко і з помилкамі</li>
                <li class="cv-languages-item"><span class="cv-span">Польська:</span> базовий (елементарний) – закінчив
                  рівень А1 та розпочав А2, базова комунікація, добре розуміння</li>
              </ul>
            </li>
            <li class="cv-additional-item">
              <h4>Управління та організація подій:</h4>
              <p>Досвід успішної організації масових спортивних заходів (забіги до 1000 учасників), що демонструє сильні
                навички
                проектного менеджменту, логістики, комунікації та вирішення оперативних завдань.</p>
            </li>
            <li class="cv-additional-item">
              <h4>Технічна та комерційна компетентність:</h4>
              <p>Практичний досвід роботи з різноманітним будівельним та верстатним обладнанням (включаючи верстати з
                програмним
                керуванням), а також управління продажами обладнання для опалення та водопостачання. Це підкреслює
                вміння швидко
                освоювати технічні деталі, розуміти комерційні процеси та взаємодіяти з клієнтами та діловими партнерами
                (в т.ч. у
                зовнішньоекономічній діяльності).</p>
            </li>
            <li class="cv-additional-item">
              <h4>Досвід у сфері обслуговування та адаптація:</h4>
              <p>Досвід роботи адміністратором у більярднаму клубе, а також на будівництве та складах, що свідчить про
                навички
                обслуговування клієнтів, високу працездатність та ефективну адаптацію в різних робочих середовищах.</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>