<footer class="section-footer" id="contacts">
    <div class="container footer-container">
        <div class="footer-logo-contact-wrapper">
            <div class="footer-text-wrapper">
                <a href="./index.html">
                    <svg class="footer-logo" width="168" height="16">
                        <use class="footer-icon" href="/img/sprite.svg#icon-logo"></use>
                    </svg>
                </a>
                <p class="footer-text">Looking for a reliable, goal-oriented developer who delivers efficient and
                    valuable solutions? Let's build something
                    great together.
                </p>
            </div>
            <div class="nav-wrapper">
                <ul class="footer-nav-list">
                    <li class="footer-nav-item"><a class="footer-nav-link" href="#how-it-works">how it works</a>
                    </li>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="#vegetables">vegetables</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="#reviews">reviews</a></li>
                </ul>
                <address class="footer-address">
                    <ul class="cv-contacts-list">
                        <li><a class="address-link" href="https://maps.app.goo.gl/Gu1wMtaCCjxw3bKb8"
                                target="_blank">Tsentralne,
                                Kyiv region</a>
                        </li>
                        <li><a href="mailto:eks220885@gmail.com" class="address-link"
                                target="_blank">eks220885@gmail.com</a></li>
                        <li><a class="address-link" href="tel:+380958366739" target="_blank">+380958366739</a></li>
                    </ul>
                    <ul class="cv-social-list">
                        <li><a href="https://t.me/Running_is_freedom" target="_blank" class="social-link"
                                title="Telegram">
                                <svg class="cv-social-icon" width="32" height="32">
                                    <use xlink:href="/portfolio/img/sprite.svg#icon-telegram"></use>
                                </svg>
                                <span class="visually-hidden">Telegram</span></a></li>
                        <li><a href="https://www.linkedin.com/in/vadzimsimanau/" target="_blank" class="social-link"
                                title="LinkedIn">
                                <svg class="social-icon" width="32" height="32">
                                    <use xlink:href="/portfolio/img/sprite.svg#icon-linkedin"></use>
                                </svg>
                                <span class="visually-hidden">LinkedIn</span></a></li>
                        <li><a href="https://github.com/Vadimeks" target="_blank" class="social-link" title="GitHub">
                                <svg class="social-icon" width="32" height="32">
                                    <use xlink:href="/portfolio/img/sprite.svg#icon-github"></use>
                                </svg>
                                <span class="visually-hidden">GitHub</span></a></li>
                    </ul>
                </address>
            </div>
        </div>
        <div class="footer-privacy-wrapper">
            <ul class="footer-privacy-list">
                <li class="footer-privacy-item"><a class="footer-privacy-link footer-slash" href="">Privacy Policy</a>
                </li>
                <li class="footer-privacy-item"><a class="footer-privacy-link" href="">Cookie settings</a></li>
            </ul>
            <p class="footer-text-copy">&copy;Green Harvest 2023</p>
        </div>
    </div>
</footer>