<footer class="section-footer" id="contacts">
    <div class="container footer-container">
        <div class="footer-logo-contact-wrapper">
            <div class="footer-one">
                <div class="footer-text-wrapper">
                    <a href="./index.html">
                        <svg class="footer-logo" width="40" height="32">
                            <use class="footer-icon" href="/img/sprite.svg#icon-logo"></use>
                        </svg>
                    </a>
                    <p class="footer-text">
                        Have a project in mind or just want to chat? Let's connect and build something
                        great together.
                    </p>
                </div>
                <div class="nav-wrapper">
                    <ul class="footer-nav-list">
                        <li class="footer-nav-item"><a class="footer-nav-link" href="#portfolio">Portfolio</a>
                        </li>
                        <li class="footer-nav-item"><a class="footer-nav-link" href="#cv">CV</a></li>
                        <li class="footer-nav-item"><a class="footer-nav-link" href="#about-section">About me</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-two">
                <address class="footer-address">
                    <h2 class="footer-title">Contacts</h2>
                    <ul class="footer-contacts-list">
                        <li class="footer-contacts-item"><span class="footer-span">Address: </span><a
                                class="footer-address-link" href="https://maps.app.goo.gl/Gu1wMtaCCjxw3bKb8"
                                target="_blank">Tsentralne,
                                Kyiv region</a>
                        </li>
                        <li class="footer-contacts-item"><span class="footer-span">Email: </span><a
                                href="mailto:eks220885@gmail.com" class="footer-address-link"
                                target="_blank">eks220885@gmail.com</a></li>
                        <li class="footer-contacts-item"><span class="footer-span">Mobile: </span><a
                                class="footer-address-link" href="tel:+380958366739" target="_blank">+380958366739</a>
                        </li>
                    </ul>
                    <ul class="footer-social-list">
                        <li class="footer-social-item"><a href="https://t.me/Running_is_freedom" target="_blank"
                                class="footer-social-link" title="Telegram">
                                <svg class="footer-social-icon" width="32" height="32">
                                    <use href="/img/sprite.svg#icon-telegram"></use>
                                </svg>
                                <span class="visually-hidden">Telegram</span></a></li>
                        <li class="footer-social-item"><a href="https://www.linkedin.com/in/vadzimsimanau/"
                                target="_blank" class="footer-social-link" title="LinkedIn">
                                <svg class="footer-social-icon" width="32" height="32">
                                    <use href="/img/sprite.svg#icon-linkedin"></use>
                                </svg>
                                <span class="visually-hidden">LinkedIn</span></a></li>
                        <li class="footer-social-item"><a href="https://github.com/Vadimeks" target="_blank"
                                class="footer-social-link" title="GitHub">
                                <svg class="footer-social-icon" width="32" height="32">
                                    <use href="/img/sprite.svg#icon-github"></use>
                                </svg>
                                <span class="visually-hidden">GitHub</span></a></li>
                    </ul>
                </address>
                <div class="footer-privacy-wrapper">
                    <p class="footer-privacy-item"><a class="footer-privacy-link" href="">&copy;Vadimeks Portfolio
                            WebSite
                            2025</a>
                </div>
            </div>
        </div>

    </div>
</footer>