<header class="header-section">
  <ul class="container header-container">
    <nav class="header-nav">
      <a class="header-logo" href="./index.html">
        <svg class="hed-logo-icon">
          <use href="/img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#cv">CV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About me</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#contacts">Contacts</a>
        </li>
      </ul>

      <ul class="social-list">
        <li class="social-item">
          <a href="https://www.linkedin.com/in/вадим-cімонов-669920360/" target="_blank" class="social-link"
            title="LinkedIn">
            <svg class="social-icon" width="32" height="32">
              <use xlink:href="/img/sprite.svg#icon-linkedin"></use>
            </svg>
            <span class="visually-hidden">LinkedIn</span>
          </a>
        </li>
        <li class="social-item">
          <a href="https://t.me/Running_is_freedom" target="_blank" class="social-link" title="Telegram">
            <svg class="social-icon" width="32" height="32">
              <use xlink:href="/img/sprite.svg#icon-telegram"></use>
            </svg>
            <span class="visually-hidden">Telegram</span>
          </a>
        </li>
        <li class="social-item">
          <a href="https://github.com/Vadimeks" target="_blank" class="social-link" title="GitHub">
            <svg class="social-icon" width="32" height="32">
              <use xlink:href="/img/sprite.svg#icon-github"></use>
            </svg>
            <span class="visually-hidden">GitHub</span>
          </a>
        </li>
      </ul>


      <button class="burger-btn" type="button" data-menu-open aria-label="Open mobile menu">
        <svg class="burger-icon" aria-hidden="true">
          <use href="/img/sprite.svg#icon-burger"></use>
        </svg>
      </button>

    </nav>
    </div>
    <load src="/partials/mobile-menu.html" />

</header>