<header class="header-section">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="./index.html" class="logo header-logo">Web<span class="logo-part">Studio</span></a>
      <ul class="nav-list">
        <li class="nav-items">
          <a href="./index.html" class="nav-link current">Studio</a>
        </li>
        <li class="nav-items">
          <a href="" class="nav-link">Portfolio</a>
        </li>
        <li class="nav-items">
          <a href="" class="nav-link">Contacts</a>
        </li>
      </ul>
    </nav>
    <address class="nav-address">
      <ul class="address-list">
        <li class="address-items">
          <a href="mailto:info@devstudio.com" class="address-link">info@devstudio.com</a>
        </li>
        <li class="address-items">
          <a href="tel:+110001111111" class="address-link">+11 (000) 111-11-11</a>
        </li>
      </ul>
    </address>
    <button class="burger-btn" type="button" data-menu-open>
      <svg class="burger-icon" width="24" height="24">
        <use href="./src/images/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
  <div class="mobile-menu is-open" data-menu>
    <div class="mobile-menu-container container">
      <button class="mobile-menu-close" type="button" data-menu-close>
        <svg width="8" height="8" class="close-btn">
          <use href="./src/images/icons.svg#icon-close">
          </use>
        </svg>
      </button>
      <nav class="mobile-menu-nav">
        <ul class="mobile-nav-list">
          <li class="mobile-nav-items">
            <a href="./index.html" class="nav-link current">Studio</a>
          </li>
          <li class="mobile-nav-items">
            <a href="" class="nav-link">Portfolio</a>
          </li>
          <li class="mobile-nav-items">
            <a href="" class="nav-link">Contacts</a>
          </li>
        </ul>
      </nav>
      <address class="mobile-menu-address">
        <ul class="mobile-address-list">
          <li class="mobile-address-items">
            <a href="mailto:info@devstudio.com" class="address-link">info@devstudio.com</a>
          </li>
          <li class="mobile-address-items">
            <a href="tel:+110001111111" class="address-link">+11 (000) 111-11-11</a>
          </li>
        </ul>
      </address>

      <ul class="social-icons">
        <li class="icons">
          <a href="https://www.instagram.com" target="_blank" rel="instagram" class="link-icons">
            <svg width="24" height="24" class="mobile-social">
              <use href="./src/images/icons.svg#icon-instagram">
              </use>
            </svg>
          </a>
        </li>
        <li class="icons">
          <a href="https://www.twitter.com" target="_blank" rel="twitter" class="link-icons">
            <svg width="24" height="24" class="mobile-social">
              <use href="./src/images/icons.svg#icon-group">
              </use>
            </svg>
          </a>
        </li>
        <li class="icons">
          <a href="https://www.facebook.com" target="_blank" rel="facebook" class="link-icons">
            <svg width="24" height="24" class="mobile-social">
              <use href="./src/images/icons.svg#icon-vector">
              </use>
            </svg>
          </a>
        </li>
        <li class="icons">
          <a href="https://www.linkedin.com" target="_blank" rel="linkedin" class="link-icons">
            <svg width="24" height="24" class="mobile-social">
              <use href="./src/images/icons.svg#icon-linkedin">
              </use>
            </svg>
          </a>
        </li>
      </ul>

    </div>
  </div>
</header>