<section class="section-hero">
  <div class="container hero-container">

    <div class="hero-text">
      <h1 class="hero-title">Looking for <span class="hero-accent">FullStack JavaScript
          Developer?</span></h1>
      <div class="hero-description">
        <ul class="hero-descr-list">
          <li hero-descr-item>
            <h3 class="hero-header">Discover a one who is:</h3>
          </li>
          <li class=hero-descr-item>Dedicated to constant self-improvement and skill development</li>
          <li class=hero-descr-item>Capable of working independently and
            within a team, unafraid to take responsibility</li>
          <li class=hero-descr-item>Able to contribute to enhancing efficiency and adding value to
            team projects</li>
          <li class=hero-descr-item>Just see this site...</li>
        </ul>
        <button class="hero-btn" type="button" data-modal-open aria-label="Open write me modal">Write me</button>
      </div>
    </div>


  </div>
  <load src="/partials/modal.html" />
</section>