<section class="section-hero">
  <div class="container hero-container">

    <div class="hero-text">
      <h1 class="hero-title">Reliable, Disciplined and <br>Goal-Oriented Full<br>Stack Junior Dev</h1>
      <p class="hero-descr">
        Dedicated to <br>constant self-improvement <br>and skill development. Capable of<br> working independently and
        within a
        team,<br>
        unafraid to take responsibility, and able to contribute<br> to enhancing efficiency and adding value to shared
        deal
      </p>

    </div>
    <button class="hero-btn" type="button" data-modal-open aria-label="Open write me modal">Write me</button>


  </div>
  <load src="/partials/modal.html" />
</section>