<div class="menu-backdrop" data-menu>
  <div class="mobile-menu" data-lang="eng">
    <button type="button" class="menu-close-btn" data-menu-close>
      <svg class="menu-close-icon">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <nav class="menu-nav">
      <ul class="btn-list">

        <li>
          <button class="btn-list-item list-info-btn" type="button" data-scroll="#cv">CV</button>
        </li>
        <li>
          <button class="btn-list-item" type="button" data-scroll="#portfolio">Projects</button>
        </li>
        <li>
          <button class="btn-list-item" type="button" data-scroll="#about-section">About me</button>
        </li>
        <li>
          <button class="btn-list-item" type="button" data-scroll="#contacts">Contacts</button>
        </li>
      </ul>
    </nav>
    <ul class="social-list-mob">
      <li class="social-item-mob">
        <a href="https://www.linkedin.com/in/вадим-cімонов-669920360/" target="_blank" class="social-link-mob">
          <svg class="social-icon" width="32" height="32">
            <use xlink:href="/img/sprite.svg#icon-linkedin"></use>
          </svg>
          <span class="visually-hidden">LinkedIn</span></a>
      </li>
      <li class="social-item-mob"><a href="https://t.me/Running_is_freedom" target="_blank" class="social-link-mob">
          <svg class="social-icon" width="32" height="32">
            <use xlink:href="/img/sprite.svg#icon-telegram"></use>
          </svg>
          <span class="visually-hidden">Telegram</span></a></li>
      <li class="social-item-mob"><a href="https://github.com/Vadimeks" target="_blank" class="social-link-mob">
          <svg class="social-icon" width="32" height="32">
            <use xlink:href="/img/sprite.svg#icon-github"></use>
          </svg>
          <span class="visually-hidden">Telegram</span></a></li>
    </ul>
  </div>
  <div class="mobile-menu is-hidden" data-lang="ua">
    <button type="button" class="menu-close-btn" data-menu-close>
      <svg class="menu-close-icon">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <nav class="menu-nav">
      <ul class="btn-list">

        <li>
          <button class="btn-list-item list-info-btn" type="button" data-scroll="#cv">Резюме</button>
        </li>
        <li>
          <button class="btn-list-item" type="button" data-scroll="#portfolio">Проєкти</button>
        </li>
        <li>
          <button class="btn-list-item" type="button" data-scroll="#about-section">Про мене</button>
        </li>
        <li>
          <button class="btn-list-item" type="button" data-scroll="#contacts">Контакти</button>
        </li>
      </ul>
    </nav>
    <ul class="social-list-mob">
      <li class="social-item-mob">
        <a href="https://www.linkedin.com/in/вадим-cімонов-669920360/" target="_blank" class="social-link-mob">
          <svg class="social-icon" width="32" height="32">
            <use xlink:href="/img/sprite.svg#icon-linkedin"></use>
          </svg>
          <span class="visually-hidden">LinkedIn</span></a>
      </li>
      <li class="social-item-mob"><a href="https://t.me/Running_is_freedom" target="_blank" class="social-link-mob">
          <svg class="social-icon" width="32" height="32">
            <use xlink:href="/img/sprite.svg#icon-telegram"></use>
          </svg>
          <span class="visually-hidden">Telegram</span></a></li>
      <li class="social-item-mob"><a href="https://github.com/Vadimeks" target="_blank" class="social-link-mob">
          <svg class="social-icon" width="32" height="32">
            <use xlink:href="/img/sprite.svg#icon-github"></use>
          </svg>
          <span class="visually-hidden">Telegram</span></a></li>
    </ul>
  </div>
</div>