<div class="menu-backdrop" data-menu>
  <div class="mobile-menu">
    <button type="button" class="menu-close-btn" data-menu-close>
      <svg class="menu-close-icon">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <nav class="menu-nav">
      <ul class="btn-list">
        <li>
          <button class="btn-list-item list-info-btn" type="button" data-scroll="#portfolio">Portfolio</button>
        </li>
        <li>
          <button class="btn-list-item" type="button" data-scroll="#about">About me</button>
        </li>
        <li>
          <button class="btn-list-item" type="button" data-scroll="#cv">CV</button>
        </li>
        <li>
          <button class="btn-list-item" type="button" data-scroll="#contacts">Contacts</button>
        </li>
      </ul>
    </nav>
    <button type="button" class="menu-writeme-btn">Write me</button>
  </div>
</div>