<div class="backdrop" data-modal>
  <div class="modal-menu">
    <button class="close" type="button" data-modal-close>
      <svg class="icon-close" width="16" height="16">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h3 class="order-form-title">
      Contact me for opportunities or collaborations. Fill out the form below.
    </h3>
    <form class="modal-form">
      <input class="modal-input modal-input-name" name="user-name" type="text" id="user-name" placeholder="Full Name"
        pattern="^[a-zA-Z\s]{3,}$" title="Name should only contain letters and spaces and be at least 3 characters long"
        required>
      <input class="modal-input modal-input-email" type="email" name="email"
        pattern="([A-Za-z0-9_\-\.]+)+@([A-Za-z0-9_\-\.]+)+\.([A-Za-z]{2,8})" placeholder="Email" required>
      <textarea name="form-textarea" class="modal-textarea" id="user-comment" placeholder="Comment"></textarea>
      <button class="modal-form-btn" type="submit" disabled>Send</button>
    </form>
  </div>
</div>