<section class="section-portfolio" id="portfolio">
  <div class="container portfolio-container">
    <div class="row">
      <h2 class="portfolio-title">
        My
        <span class="portfolio-accent">projects</span>
      </h2>

      <p class="portfolio-text">
        Projects completed during my studies - a team project (done independently) and homework assignments. The level
        is
        beginner, as the learning process is not yet complete (<a href="https://goit.global/ua/" target="_blank"
          rel="noopener noreferrer">GOIT Full Stack JS course</a>)
      </p>
    </div>
    <ul class="portfolio-list">
      <li class="portfolio-item">
        <picture class="portfolio-pic">

          <source media="(min-width: 768px)" srcset="
          
          /img/portfolio/project-1-tab.jpg 1x,
          /img/portfolio/project-1@2x-tab.jpg 2x">
          <source media="(max-width: 767px)" srcset="
                    /img/portfolio/project-1-mob.jpg 1x,
          /img/portfolio/project-1@2x-mob.jpg 2x">

          <img class="content-image" src="/src/img/portfolio/project-1-min.jpg" alt="Project-1 GreenHarvest">
        </picture>
        <div class="customer-feedback">
          <h3 class="title-customer">John Wax</h3>
          <p class="text-customer">
            These vegetables are my secret to delicious and healthy meals. The
            quality is always at the highest level, the aroma and taste are
            enchanting. I advise every fan of real products!
          </p>
        </div>
      </li>

      <li class="portfolio-item">
        <picture class="portfolio-pic">

          <source media="(min-width: 768px)" srcset="
          
          /img/portfolio/project-2-tab.jpg 1x,
          /img/portfolio/project-2@2x-tab.jpg 2x">
          <source media="(max-width: 767px)" srcset="
                    /img/portfolio/project-2-mob.jpg 1x,
          /img/portfolio/project-2@2x-mob.jpg 2x">

          <img class="content-image" src="/src/img/portfolio/project-2-min.jpg" alt="Project-1 GreenHarvest">
        </picture>

        <h3 class="title-customer">Victoria Romashenko</h3>
        <p class="text-customer">
          I love how fast and fresh the vegetables are delivered. Salads always
          turn out so appetizing, and soups are real masterpieces. The quality
          is impeccable!
        </p>
      </li>

      <li class="portfolio-item">
        <picture class="portfolio-pic">

          <source media="(min-width: 768px)" srcset="
          
          /img/portfolio/project-1-tab.jpg 1x,
          /img/portfolio/project-1@2x-tab.jpg 2x">
          <source media="(max-width: 767px)" srcset="
                    /img/portfolio/project-1-mob.jpg 1x,
          /img/portfolio/project-1@2x-mob.jpg 2x">

          <img class="content-image" src="/src/img/portfolio/project-1-min.jpg" alt="Project-1 GreenHarvest">
        </picture>

        <h3 class="title-customer">Ihor Trachuk</h3>
        <p class="text-customer">
          Recently tried my fresh tomatoes and peppers - amazing! The
          authenticity of the taste, as if from the garden directly to my table.
          It is now my main vegetable supplier.
        </p>
      </li>
    </ul>
  </div>

</section>