<section class="portfolio-section">
  <div class="container">
    <h2 class="header-two">Our Portfolio</h2>
    <ul class="portfolio-list">
      <li class="portfolio-items">
        <div class="image-container">
          <picture>
            <source
              srcset="./src/images/portfolio-img/portfolio-desc-1-min.jpg 1x, ./src/images/portfolio-img/portfolio-desc-1@2x-min.jpg 2x"
              media="(min-width: 1158px)" />
            <source
              srcset="./src/images/portfolio-img/portfolio-tab-1-min.jpg 1x, ./src/images/portfolio-img/portfolio-tab-1@2x-min.jpg 2x"
              media="(min-width: 768px)" />
            <source srcset="./src/images/portfolio-img/portfolio-mob-1-min.jpg 1x, 
                                ./src/images/portfolio-img/portfolio-mob-1@2x-min.jpg 2x" media="(max-width: 767px)" />
            <img src="./src/images/portfolio-img/portfolio-desc-1-min.jpg" alt="Banking App" width="360" height="300">
          </picture>
          <p class="hover-content">14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p>
        </div>
        <div class="product-descr">
          <h3 class="header-three">Banking App</h3>
          <p class="text">App</p>
        </div>
      </li>
      <li class="portfolio-items">
        <div class="image-container">
          <picture>
            <source
              srcset="./src/images/portfolio-img/portfolio-desc-2-min.jpg 1x, ./src/images/portfolio-img/portfolio-desc-2@2x-min.jpg 2x"
              media="(min-width: 1158px)" />
            <source srcset="./src/images/portfolio-img/portfolio-tab-2-min.jpg 1x, 
                                                            ./src/images/portfolio-img/portfolio-tab-2@2x-min.jpg 2x"
              media="(min-width: 768px)" />
            <source srcset="./src/images/portfolio-img/portfolio-mob-2-min.jpg 1x, 
                                                            ./src/images/portfolio-img/portfolio-mob-2@2x-min.jpg 2x"
              media="(max-width: 767px)" />
            <img src="./src/images/portfolio-img/portfolio-desc-2-min.jpg" alt="Banking App" width="360" height="300">
          </picture>
          <p class="hover-content">14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p>
        </div>
        <div class="product-descr">
          <h3 class="header-three">Cashless Payment</h3>
          <p class="text">Marketing</p>
        </div>
      </li>
      <li class="portfolio-items">
        <div class="image-container">
          <picture>
            <source srcset="./src/images/portfolio-img/portfolio-desc-3-min.jpg 1x, 
                                                            ./src/images/portfolio-img/portfolio-desc-3@2x-min.jpg 2x"
              media="(min-width: 1158px)" />
            <source srcset="./src/images/portfolio-img/portfolio-tab-3-min.jpg 1x, 
                                                            ./src/images/portfolio-img/portfolio-tab-3@2x-min.jpg 2x"
              media="(min-width: 768px)" />
            <source srcset="./src/images/portfolio-img/portfolio-mob-3-min.jpg 1x, 
                                                            ./src/images/portfolio-img/portfolio-mob-3@2x-min.jpg 2x"
              media="(max-width: 767px)" />
            <img src="./src/images/portfolio-img/portfolio-desc-3-min.jpg" alt="Banking App" width="360" height="300">
          </picture>
          <p class="hover-content">14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p>
        </div>
        <div class="product-descr">
          <h3 class="header-three">Meditation App</h3>
          <p class="text">App</p>
        </div>
      </li>
      <li class="portfolio-items">
        <div class="image-container">
          <picture>
            <source srcset="./src/images/portfolio-img/portfolio-desc-4-min.jpg 1x, 
                                                            ./src/images/portfolio-img/portfolio-desc-4@2x-min.jpg 2x"
              media="(min-width: 1158px)" />
            <source srcset="./src/images/portfolio-img/portfolio-tab-4-min.jpg 1x, 
                                                            ./src/images/portfolio-img/portfolio-tab-4@2x-min.jpg 2x"
              media="(min-width: 768px)" />
            <source srcset="./src/images/portfolio-img/portfolio-mob-4-min.jpg 1x, 
                                                            ./src/images/portfolio-img/portfolio-mob-4@2x-min.jpg 2x"
              media="(max-width: 767px)" />
            <img src="./src/images/portfolio-img/portfolio-desc-4-min.jpg" alt="Banking App" width="360" height="300">
          </picture>
          <p class="hover-content">14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p>
        </div>
        <div class="product-descr">
          <h3 class="header-three">Taxi Service</h3>
          <p class="text">Marketing</p>
        </div>
      </li>
      <li class="portfolio-items">
        <div class="image-container">
          <picture>
            <source srcset="./src/images/portfolio-img/portfolio-desc-5-min.jpg 1x, 
                                                            ./src/images/portfolio-img/portfolio-desc-5@2x-min.jpg 2x"
              media="(min-width: 1158px)" />
            <source srcset="./src/images/portfolio-img/portfolio-tab-5-min.jpg 1x, 
                                                            ./src/images/portfolio-img/portfolio-tab-5@2x-min.jpg 2x"
              media="(min-width: 768px)" />
            <source srcset="./src/images/portfolio-img/portfolio-mob-5-min.jpg 1x, 
                                                            ./src/images/portfolio-img/portfolio-mob-5@2x-min.jpg 2x"
              media="(max-width: 767px)" />
            <img src="./src/images/portfolio-img/portfolio-desc-5-min.jpg" alt="Banking App" width="360" height="300">
          </picture>
          <p class="hover-content">14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p>
        </div>
        <div class="product-descr">
          <h3 class="header-three">Screen Illustrations</h3>
          <p class="text">Design</p>
        </div>
      </li>
      <li class="portfolio-items">
        <div class="image-container">
          <picture>
            <source srcset="./src/images/portfolio-img/portfolio-desc-6-min.jpg 1x, 
                                                            ./src/images/portfolio-img/portfolio-desc-6@2x-min.jpg 2x"
              media="(min-width: 1158px)" />
            <source srcset="./src/images/portfolio-img/portfolio-tab-6-min.jpg 1x, 
                                                            ./src/images/portfolio-img/portfolio-tab-6@2x-min.jpg 2x"
              media="(min-width: 768px)" />
            <source srcset="./src/images/portfolio-img/portfolio-mob-6-min.jpg 1x, 
                                                            ./src/images/portfolio-img/portfolio-mob-6@2x-min.jpg 2x"
              media="(max-width: 767px)" />
            <img src="./src/images/portfolio-img/portfolio-desc-6-min.jpg" alt="Banking App" width="360" height="300">
          </picture>
          <p class="hover-content">14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App</p>
        </div>
        <div class="product-descr">
          <h3 class="header-three">Online Courses</h3>
          <p class="text">Marketing</p>
        </div>
      </li>
    </ul>
  </div>
</section>