<section class="section-portfolio" id="portfolio">
  <div class="container portfolio-container">
    <div class="portfolio-content">
      <h2 class="portfolio-title">
        My
        <span class="portfolio-accent">projects</span>
      </h2>

      <p class="portfolio-text">
        Projects completed during my studies - a team project (done independently) and homework assignments. The level
        is
        beginner, as the learning process is not yet complete (<a href="https://goit.global/ua/" target="_blank"
          rel="noopener noreferrer">GOIT Full Stack JS course</a>)
      </p>
    </div>
    <ul class="portfolio-list">
      <li class="portfolio-item">
        <picture class="portfolio-pic">

          <source media="(min-width: 768px)" srcset="
          
          /img/portfolio/project-1-tab.jpg 1x,
          /img/portfolio/project-1@2x-tab.jpg 2x">
          <source media="(max-width: 767px)" srcset="
                    /img/portfolio/project-1-mob.jpg 1x,
          /img/portfolio/project-1@2x-mob.jpg 2x">

          <img class="content-image" src="/src/img/portfolio/project-1-min.jpg" alt="Project-1 GreenHarvest">
        </picture>
        <div class="customer-feedback">
          <h3 class="title-customer">Adaptive Web Project Organic Vegetables</h3>
          <p class="text-customer">
            This is a modern web project designed to present organic vegetables
            through an adaptive web interface, ensuring a seamless
            experience for users on different devices. The first team project developed as part of our HTML &
            CSS course.
          </p>
        </div>
      </li>

      <li class="portfolio-item">
        <picture class="portfolio-pic">

          <source media="(min-width: 768px)" srcset="
          
          /img/portfolio/project-2-tab.jpg 1x,
          /img/portfolio/project-2@2x-tab.jpg 2x">
          <source media="(max-width: 767px)" srcset="
                    /img/portfolio/project-2-mob.jpg 1x,
          /img/portfolio/project-2@2x-mob.jpg 2x">

          <img class="content-image" src="/src/img/portfolio/project-2-min.jpg" alt="Project-1 GreenHarvest">
        </picture>

        <h3 class="title-customer">Adaptive Web Project WebStudio</h3>
        <p class="text-customer">
          This is a project completed based on homework assignments during the HTML/CSS block for the Web Studio, which
          focuses on
          education and application development.
        </p>
      </li>

      <li class="portfolio-item">
        <picture class="portfolio-pic">

          <source media="(min-width: 768px)" srcset="
          
          /img/portfolio/project-3-tab.jpg 1x,
          /img/portfolio/project-3@2x-tab.jpg 2x">
          <source media="(max-width: 767px)" srcset="
                    /img/portfolio/project-3-mob.jpg 1x,
          /img/portfolio/project-3@2x-mob.jpg 2x">

          <img class="content-image" src="/src/img/portfolio/project-3-min.jpg" alt="Project-1 GreenHarvest">
        </picture>

        <h3 class="title-customer">Adaptive Web Project Portfolio</h3>
        <p class="text-customer">
          This is my own project, which I did completely independently in parallel with my studies - for showcasing my
          work, as
          well as for reinforcing the skills I've acquired.
        </p>
      </li>
    </ul>
  </div>

</section>