<section class="team-section">
  <div class="container">
    <h2 class="header-two">Our Team</h2>
    <ul class="team-list">
      <li class="team-items">
        <img srcset="./src/images/team-img/team-1-min.jpg 1x, ./src/images/team-img/team-1@2x-min.jpg 2x "
          src="./src/images/team-img/team-1-min.jpg" alt="Product Designer" width="264" height="260">
        <div class="team-description">
          <h3 class="header-three">Mark Guerrero</h3>
          <p class="text">Product Designer</p>
          <ul class="social-icons">
            <li class="icons">
              <a href="https://www.instagram.com" target="_blank" rel="instagram" class="link-icons">
                <svg width="16" height="16" class="team-social">
                  <use href="./src/images/icons.svg#icon-instagram">
                  </use>
                </svg>
              </a>
            </li>
            <li class="icons">
              <a href="https://www.twitter.com" target="_blank" rel="twitter" class="link-icons">
                <svg width="16" height="16" class="team-social">
                  <use href="./src/images/icons.svg#icon-group">
                  </use>
                </svg>
              </a>
            </li>
            <li class="icons">
              <a href="https://www.facebook.com" target="_blank" rel="facebook" class="link-icons">
                <svg width="16" height="16" class="team-social">
                  <use href="./src/images/icons.svg#icon-vector">
                  </use>
                </svg>
              </a>
            </li>
            <li class="icons">
              <a href="https://www.linkedin.com" target="_blank" rel="linkedin" class="link-icons">
                <svg width="16" height="16" class="team-social">
                  <use href="./src/images/icons.svg#icon-linkedin">
                  </use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

      </li>
      <li class="team-items">
        <img srcset="./src/images/team-img/team-2-min.jpg 1x, ./src/images/team-img/team-2@2x-min.jpg 2x "
          src="./src/images/team-img/team-2-min.jpg" alt="Frontend Developer" width="264" height="260">
        <div class="team-description">
          <h3 class="header-three">Tom Ford</h3>
          <p class="text">Frontend Developer</p>
          <ul class="social-icons">
            <li class="icons">
              <a href="https://www.instagram.com" target="_blank" rel="instagram" class="link-icons">
                <svg width="16" height="16" class="team-social">
                  <use href="./src/images/icons.svg#icon-instagram">
                  </use>
                </svg>
              </a>
            </li>
            <li class="icons">
              <a href="https://www.twitter.com" target="_blank" rel="twitter" class="link-icons">
                <svg width="16" height="16" class="team-social">
                  <use href="./src/images/icons.svg#icon-group">
                  </use>
                </svg>
              </a>
            </li>
            <li class="icons">
              <a href="https://www.facebook.com" target="_blank" rel="facebook" class="link-icons">
                <svg width="16" height="16" class="team-social">
                  <use href="./src/images/icons.svg#icon-vector">
                  </use>
                </svg>
              </a>
            </li>
            <li class="icons">
              <a href="https://www.linkedin.com" target="_blank" rel="linkedin" class="link-icons">
                <svg width="16" height="16" class="team-social">
                  <use href="./src/images/icons.svg#icon-linkedin">
                  </use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

      </li>
      <li class="team-items">
        <img srcset="./src/images/team-img/team-3-min.jpg 1x, ./src/images/team-img/team-3@2x-min.jpg 2x "
          src="./src/images/team-img/team-3-min.jpg" alt="Marketing" width="264" height="260">
        <div class="team-description">
          <h3 class="header-three">Camila Garcia</h3>
          <p class="text">Marketing</p>
          <ul class="social-icons">
            <li class="icons">
              <a href="https://www.instagram.com" target="_blank" rel="instagram" class="link-icons">
                <svg width="16" height="16" class="team-social">
                  <use href="./src/images/icons.svg#icon-instagram">
                  </use>
                </svg>
              </a>
            </li>
            <li class="icons">
              <a href="https://www.twitter.com" target="_blank" rel="twitter" class="link-icons">
                <svg width="16" height="16" class="team-social">
                  <use href="./src/images/icons.svg#icon-group">
                  </use>
                </svg>
              </a>
            </li>
            <li class="icons">
              <a href="https://www.facebook.com" target="_blank" rel="facebook" class="link-icons">
                <svg width="16" height="16" class="team-social">
                  <use href="./src/images/icons.svg#icon-vector">
                  </use>
                </svg>
              </a>
            </li>
            <li class="icons">
              <a href="https://www.linkedin.com" target="_blank" rel="linkedin" class="link-icons">
                <svg width="16" height="16" class="team-social">
                  <use href="./src/images/icons.svg#icon-linkedin">
                  </use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

      </li>
      <li class="team-items">
        <img srcset="./src/images/team-img/team-4-min.jpg 1x, ./src/images/team-img/team-4@2x-min.jpg 2x "
          src="./src/images/team-img/team-4-min.jpg" alt="UI Designer" width="264" height="260">
        <div class="team-description">
          <h3 class="header-three">Daniel Wilson</h3>
          <p class="text">UI Designer</p>
          <ul class="social-icons">
            <li class="icons">
              <a href="https://www.instagram.com" target="_blank" rel="instagram" class="link-icons">
                <svg width="16" height="16" class="team-social">
                  <use href="./src/images/icons.svg#icon-instagram">
                  </use>
                </svg>
              </a>
            </li>
            <li class="icons">
              <a href="https://www.twitter.com" target="_blank" rel="twitter" class="link-icons">
                <svg width="16" height="16" class="team-social">
                  <use href="./src/images/icons.svg#icon-group">
                  </use>
                </svg>
              </a>
            </li>
            <li class="icons">
              <a href="https://www.facebook.com" target="_blank" rel="facebook" class="link-icons">
                <svg width="16" height="16" class="team-social">
                  <use href="./src/images/icons.svg#icon-vector">
                  </use>
                </svg>
              </a>
            </li>
            <li class="icons">
              <a href="https://www.linkedin.com" target="_blank" rel="linkedin" class="link-icons">
                <svg width="16" height="16" class="team-social">
                  <use href="./src/images/icons.svg#icon-linkedin">
                  </use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>