.about-section {
  padding: 20px 0;
}

.about-container {
  max-width: 374px;
}

.about-content {
  max-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
  margin: 0 auto;

}

.about-gallery {
  display: flex;
  gap: 8px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  padding: 16px 8px;
  border-radius: 12px;
}

.about-main-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.about-second-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about-secondary-images {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.about-main-image,
.about-image-six,
.about-image-five,
.about-image-two,
.about-image-three,
.about-image-four {
  width: 100%;
  height: auto;
}

.about-main-pic,
.about-six-pic,
.about-five-pic,
.about-two-pic,
.about-three-pic,
.about-four-pic {
  display: block;
  width: 100%;
  height: 100%;
}

.about-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.about-descr {
  width: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 0 8px 16px;
}

.about-header {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: var(--text-color);
  margin-bottom: 16px;
  padding: 0;
}

.about-accent {
  color: var(--highlight-color);
}

.about-span {
  color: var(--text-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  background-color: var(--accent-color);
}

.about-item {
  padding-bottom: 12px;
}

.about-item:last-child {
  padding-bottom: 0;
}

@media screen and (min-width: 375px) {
  .about-container {
    max-width: 767px;
  }

  .about-content {
    max-width: 580px;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .about-container {
    max-width: 1279px;
  }

  .about-content {
    max-width: 900px;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 24px;
    width: 100%;
    margin: 0 auto;
  }

  .about-gallery {
    flex-direction: row;
    flex-basis: 50%;
    margin: 0;
  }

  .about-descr {
    flex-basis: 50%;
    margin: 0;
  }

  .about-header {
    font-size: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .about-container {
    max-width: 1280px;
  }

  .about-content {
    max-width: 1080px;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 24px;
    width: 100%;
    margin: 0 auto;
  }

  .about-header {
    font-size: 68px;
  }
}

.is-hidden {
  display: none !important;
}