html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --background-color: #fff;
  --text-color: #141414;
  --accent-color: #66cc99;
  --button-color: #00a86b;
  --highlight-color: #008055;
  --light-accent: rgba(130, 245, 190, 0.5);
}

body {
  font-family: 'Inter Tight', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

section {
  width: 100%;
  background-color: var(--background-color);
}