/* Агульныя стылі для загалоўка CV */
.cv-container {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  height: auto;
  width: 100%;
  margin-bottom: 40px;
}

.cv-header {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: var(--text-color);
  margin-bottom: 16px;
  padding: 0;
}

/* Стылі для першага радка CV (загаловак і пераключальнік моў) */
.cv-firstraw {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}


/* Стылі для кнопак пераключэння мовы */
.language-switcher {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.lang-button {
  padding: 10px 15px;
  border: 1px solid var(--button-color);
  background-color: var(--secondary-color);
  cursor: pointer;
  border-radius: 5px;
  color: var(--button-color);
}

.lang-button.active {
  background-color: var(--button-color);
  color: var(--secondary-color);
  border-color: var(--button-color);
}

/* Стылі для выдзеленага тэксту */
.cv-span {
  color: var(--text-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  background-color: var(--accent-color);
}

.cv-accent {
  color: var(--highlight-color);
}

/* Стылі для загалоўка ў першым радку CV */
.cv-firstraw .cv-item-header {
  max-width: 130px;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 0;
  background-color: var(--accent-color);
}

/* Стылі для загалоўкаў аккардэона */
.cv-item-header.cv-accordion-header {
  padding: 8px;
  margin-bottom: 0;
  background-color: var(--light-accent);
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Адступы для параграфаў унутры элементаў CV */
.cv-item p {
  margin-bottom: 12px;
}

/* Стылі для загалоўкаў h4 у элементах CV */
.cv-item h4 {
  /* margin-bottom: 12px; */
  font-weight: 600;
  font-size: 16px;
  padding: 8px;
}

/* Адступы для пунктаў спісаў вопыту */
.cv-experience-item {
  padding: 8px;
}

.cv-experience-item:last-child {
  padding-bottom: 20px;
}

/* Адступы для пунктаў спісаў адукацыі */
.cv-relevantedu-item {
  padding: 8px;
}

/* Стылі для спісаў навыкаў */
.cv-hardskills-list,
.cv-softskills-list {
  margin-bottom: 20px;
  list-style-type: disc;
  /* Кружочкі */
  padding-left: 20px;
  /* Адступ для маркераў */
}

.cv-languages-list {
  margin-bottom: 20px;
}

.cv-languages-item {
  padding: 8px;
}

.cv-edu-item h4 {
  padding-bottom: 20px;
}

/* Стылі для згортваемага змесціва аккардэона */
.cv-content {
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 1;
}

.cv-content p {
  padding: 8px;
}

.cv-content.is-collapsed {
  max-height: 0;
  opacity: 0;
}

/* Стылі для стрэлкі аккардэона */
.accordion-icon {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #333;
  transition: transform 0.3s ease-out;
}

/* Паварот стрэлкі, калі раздзел адкрыты */
.cv-accordion-header.is-active .accordion-icon {
  transform: rotate(180deg);
}

/* Асноўны стыль для спісу CV */
.cv-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Стылі для кожнага элемента CV */
.cv-item {
  width: 100%;
  padding: 0;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
}


/* === Стылі для першага элемента CV (дзе імя і кнопкі мовы) === */
.cv-list .cv-item:first-child {
  background-image: linear-gradient(rgba(130, 245, 190, 0.7), rgba(130, 245, 190, 0.7)), url('../img/cv/stack.jpg');
  background-size: cover;
  background-position: center;
  padding: 8px;
}

.cv-item-header.cv-accordion-header.is-active {
  margin-bottom: 12px;
}

/* === Медыя-запыты === */

@media only screen and (min-width: 375px) {
  .container.cv-container {
    max-width: 767px;
    padding: 0 20px;
  }

  .cv-eng,
  .cv-ua {
    max-width: 580px;
    margin: 0 auto;
  }

  .cv-header {
    font-size: 28px;
    max-width: 340px;
  }

  .cv-firstraw .cv-item-header {
    max-width: 190px;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 0;
    background-color: var(--accent-color);
    border-radius: 12px;
    padding: 8px;
  }

  .cv-accent {
    font-size: 26px;
  }
}

@media only screen and (min-width: 768px) {
  .container.cv-container {
    max-width: 1279px;
    padding: 0 32px;
  }

  .cv-eng,
  .cv-ua {
    max-width: 900px;
    margin: 0 auto;
  }

  .cv-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px 20px;
  }

  .cv-item {
    flex-basis: calc(50% - 10px);
  }

  .cv-header {
    font-size: 36px;
    max-width: 430px;
  }

  .cv-firstraw .cv-item-header {
    max-width: 190px;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 0;
    background-color: var(--accent-color);
    border-radius: 12px;
    padding: 8px;
  }

  .cv-accent {
    color: var(--highlight-color);
    font-size: 30px;
  }
}

@media only screen and (min-width: 1280px) {
  .container.cv-container {
    width: 100%;
    max-width: 1280px;
    padding: 0 100px;
  }

  .cv-eng,
  .cv-ua {
    max-width: 1280px;
    margin: 0 auto;
  }

  .cv-header {
    font-size: 68px;
    max-width: 800px;
  }

  .cv-firstraw .cv-item-header {
    max-width: 260px;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 0;
    background-color: var(--accent-color);
    border-radius: 12px;
    padding: 8px;
  }

  .cv-accent {
    color: var(--highlight-color);
    font-size: 60px;
  }
}