.section-hero {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 0;
  background-color: var(--accent-color);
}

.hero-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.hero-text {
  padding: 40px 16px;
  margin-bottom: 40px;
  background-color: var(--accent-color);
}

.hero-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: var(--text-color);
  margin-bottom: 20px;
}

.hero-descr {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.43;
  color: var(--text-color);
}


.hero-image {
  background-color: #f9f9f9;
  width: 100%;
  overflow: hidden;
  padding: 0 16px 40px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
}

.content-image {
  border-radius: 30px;
}

/* ---- HERO FOR SMALL PHONES ---- */

@media only screen and (min-width: 320px) {

  .hero-image {
    min-width: 320px;
    height: 100%;
  }

  .hero-title {
    font-size: 46px;
  }

  .hero-text {
    padding: 100px 16px 0 16px;
    margin-bottom: 40px;
    width: 320px;
  }
}

@media only screen and (min-width: 375px) {

  .hero-image {
    width: 375px;
    height: 700px;
  }

  .hero-title {
    font-size: 46px;
  }

  .hero-text {
    padding: 100px 20px 0 20px;
    margin-bottom: 40px;
    width: 375px;
  }
}

/* ---- HERO FOR TABLETS ----*/

@media only screen and (min-width: 768px) {

  .hero-text {
    width: 768px;
    padding: 120px 32px 0 32px;
    margin-bottom: 52px;
  }

  .hero-title {
    font-size: 76px;
    margin-bottom: 24px;
  }

  .hero-descr {
    font-size: 16px;
    line-height: 1.25;
    max-width: 603px;
  }

  .hero-image {

    height: 900px;
    width: 768px;
  }
}

/* ---- HERO FOR PC's ---- */
@media only screen and (min-width: 1280px) {
  .hero-container {
    padding: 0;
    display: flex;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    margin: auto;
    flex-direction: row;
    gap: 38px;
  }

  .section-hero {
    max-width: 1280px;
  }

  .hero-text {
    padding: 232px 0px 0px 0px;
    margin-bottom: 40px;
    width: 504px;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .hero-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 52px;
    margin-bottom: 128px;
    width: 504px;
  }

  .hero-descr {
    font-size: 16px;
    line-height: 1.25;
    width: 504px;
  }

  .hero-image {

    width: 640px;
    height: 824px;
  }

}