/* Portfolio section */
.section-portfolio {
  padding: 0;
  width: 100%;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  height: auto;
}

.portfolio-content {
  margin-bottom: 32px;
  text-align: left;
}

.portfolio-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: var(--text-color);
  margin-bottom: 16px;
  width: 100%;
  padding: 0;
}

.portfolio-accent {
  color: var(--highlight-color);
}

.portfolio-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  text-align: left;
  width: 100%;
}

.accent-link {
  background-color: var(--accent-color);
}

.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-list {
  display: flex;
  gap: 24px;
  padding: 0 26px;
  height: auto;
  margin: 0;
  transition: transform 0.3s ease-in-out;
  background-color: var(--background-color);
}

.portfolio-item {
  flex-shrink: 0;
  width: 100%;
  border-radius: 30px;
  box-sizing: border-box;
  border: none;
  margin-right: 24px;
}

.portfolio-item:last-child {
  margin-right: 0;
}

.portfolio-card {
  position: relative;
  width: 100%;
  perspective: 1000px;
  border-radius: 30px;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
  min-height: 228px;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.card-front {
  transform: rotateY(0deg);
  z-index: 2;
  background-color: transparent;
  height: auto;
  padding: 12px 8px;
}

.card-back {
  background-color: transparent;
  color: var(--text-color);
  transform: rotateY(180deg);
  padding: 12px 8px;
}

.portfolio-card:hover {
  transform: rotateY(180deg);
}

.title-project {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.01em;
}

.project1-modal,
.project2-modal,
.project3-modal {
  margin-bottom: 8px;
  height: 20px;
  border-radius: 8px;
  background: var(--button-color);
  border: none;
  font-family: inherit;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project1-modal:hover,
.project2-modal:hover,
.project3-modal:hover,
.project1-modal:focus,
.project2-modal:focus,
.project3-modal:focus {
  background-color: var(--highlight-color);
  color: var(--button-text-color);
}

.text-project {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.43;
  width: 100%;
  margin-bottom: auto;
}

.portfolio-pic {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0;
}

.content-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0;
  object-fit: cover;
}

.carousel-button {
  position: absolute;
  background: transparent;
  fill: var(--highlight-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  color: var(--text-color);
  opacity: 1;
  transition: opacity 0.3s ease;
  padding: 0;
  z-index: 10;
  display: block;
}

.carousel-button:hover {
  opacity: 1;
}

.prev-button {
  left: 0px;
  top: 110px;
}

.next-button {
  right: 0px;
  top: 110px;
}

@media screen and (min-width: 320px) {

  .portfolio-card {
    min-height: 264px;
  }

  .prev-button,
  .next-button {
    top: 130px;
  }

  .title-project {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: -0.01em;
  }

  .text-project {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.43;
    width: 100%;
    margin-bottom: auto;
  }
}

@media screen and (min-width: 375px) {

  .portfolio-container {
    padding: 0 20px;
  }

  .portfolio-content {
    max-width: 580px;
  }

  .carousel-container {
    max-width: 460px;
    padding-bottom: 24px;
  }

  .portfolio-card {
    min-height: 340px;
  }

  .prev-button,
  .next-button {
    top: 160px;
  }

  .project1-modal,
  .project2-modal,
  .project3-modal {
    height: 30px;
  }
}

/* Tablet (min-width 768px) */
@media screen and (min-width: 768px) {
  .portfolio-container {
    padding: 0 32px;
  }

  .portfolio-content {
    margin-bottom: 40px;
    text-align: left;
    max-width: 900px;
  }

  .portfolio-title {
    font-size: 46px;
  }

  .portfolio-text {
    text-align: left;
  }

  .portfolio-list {
    display: flex;
    gap: 24px;
  }

  .carousel-container {
    flex-direction: row;
    width: 100%;
    max-width: 900px;
    align-items: center;
    min-width: 720px;
  }

  .carousel-track {
    max-width: 900px;
    min-width: 720px;
  }

  .portfolio-item:last-child {
    display: none;
  }

  .card-front,
  .card-back {
    max-width: 440px;
    top: 0;
  }

  .portfolio-item {
    flex-shrink: 0.9;
    width: 100%;
    border-radius: 30px;
    box-sizing: border-box;
    border: none;
    margin-right: 0;
  }
}

/* Desctop (min-width 1280px) */
@media screen and (min-width: 1280px) {
  .portfolio-container {
    padding: 0 100px;
    max-width: 1280px;
  }

  .portfolio-content {
    margin-bottom: 52px;
  }

  .portfolio-title {
    font-size: 64px;
  }

  .portfolio-list {
    display: flex;
    gap: 24px;
    max-width: 900px;
  }

  .portfolio-item {
    min-width: 340px;
    margin-right: 0;
  }

  .carousel-button {
    left: 100px;
    right: 100px;
  }
}